/* Показываем элемент 'REC' только в тёмной теме */
.theme-dark .header__rec {
  display: block;
}

/* Переопределение переменных для принудительного включения тёмной темы через класс .theme-dark */
:root.theme-dark {
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --menu-color: #ff0070;
  --menu-hover-color: rgba(255, 0, 112, 0.4);
  --decorated-text-color: #000028;
  --decorated-zone-border-color: #ff0070;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
}

/* Стили для тёмной темы, когда она выбрана в настройках ОС */
@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --title-color: #db00ff;
    --text-color: #f1b2ce;
    --menu-color: #ff0070;
    --menu-hover-color: rgba(255, 0, 112, 0.4);
    --decorated-text-color: #000028;
    --decorated-zone-border-color: #ff0070;
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
  }

  .header__rec {
    display: block;
  }
}