/* Определение CSS-переменных для основной (тёмной) темы */
:root {
  /* Акцентный цвет (для рамок, теней, фона заголовков) */
  --accent-color: #ff0070;
  /* Цвет больших заголовков (header, footer) */
  --title-color: #db00ff;
  /* Основной цвет текста */
  --text-color: #f1b2ce;
  /* Цвет текста меню и заголовков секций */
  --menu-color: #ff0070;
  /* Цвет обводки кнопок меню при наведении */
  --menu-hover-color: rgba(255, 0, 112, 0.4);
  /* Цвет текста на акцентном фоне */
  --decorated-text-color: #000028;
  /* Цвет декоративных уголков */
  --decorated-zone-border-color: #ff0070;
  /* Цвет фона страницы */
  --bg-color: #000028;
  /* Фоновое изображение страницы */
  --bg-image: url(../images/cover-image-dark.png);
}